version: '3'

services:
  requirement-classifier:
    image: ciccio86/req-classifier
    ports:
     - '9402:9402'
     - '9403:9403'
     - '8080:8080'
  
  integration-service:
    image: ciccio86/is
    command: python app.py
    ports:
     - '5000:5000'
    environment:
     - GITHUB_PERSONAL_ACCESS_TOKEN=22177537804d2c23e766ed325bb5f91286be1aac
     - GITHUB_APP_ID=35262
     - GITHUB_CLIENT_ID=Iv1.02a46aba7f40e24d
     - GITHUB_CLIENT_SECRET=61b6630bacf1e9b801deb3143322919f63637fb5
     - GITHUB_WEBHOOK_SECRET=5da226f312c132fd92280a3e81cad0adede50224
     - OPENREQ_BASEURL=http://requirement-classifier:9402
     - CELERY_BROKER_URL=redis://redis:6379/0
     - GITHUB_LIMIT_REQUEST=True
    volumes:
     - tmp_vol:/tmp/integration-service
    depends_on:
     - worker
  
  worker:
    image: ciccio86/is
    command: celery worker -A app:celery --loglevel=debug
    volumes:
     - tmp_vol:/tmp/integration-service
    environment:
     - GITHUB_PERSONAL_ACCESS_TOKEN=22177537804d2c23e766ed325bb5f91286be1aac
     - GITHUB_APP_ID=35262
     - GITHUB_CLIENT_ID=Iv1.02a46aba7f40e24d
     - GITHUB_CLIENT_SECRET=61b6630bacf1e9b801deb3143322919f63637fb5
     - GITHUB_WEBHOOK_SECRET=5da226f312c132fd92280a3e81cad0adede50224
     - OPENREQ_BASEURL=http://requirement-classifier:9402
     - CELERY_BROKER_URL=redis://redis:6379/0
     - GITHUB_LIMIT_REQUEST=True
    depends_on:
     - redis
  
  redis:
    image: redis
    ports:
     - '6379:6379'
  
volumes:
  tmp_vol:
    driver_opts:
      type: tmpfs
      device: tmpfs