SECRET_KEY = "super secret key"
DEBUG = True
TRAINING_TIMEOUT = 1800
CLASSIFICATION_TIMEOUT = 1800
CONFIDENCE_TRESHOLD = 50

LOG_PATH = "/var/log/is.log"
LOG_FORMAT = "%(asctime)s - %(pathname)s:%(lineno)d - %(levelname)s - %(message)s"

GITHUB_WEBHOOK_SECRET = ""
GITHUB_CLIENT_ID = ""
GITHUB_CLIENT_SECRET = ""
GITHUB_APP_ID = ""
GITHUB_PERSONAL_ACCESS_TOKEN = ""
GITHUB_PRIV_KEY_PATH = "/app/private-key.pem" 
GITHUB_LIMIT_REQUEST = True

OPENREQ_BASEURL = "http://requirement-classifier:9402"

SQLALCHEMY_DATABASE_URI = 'sqlite:////tmp/integration-service/oris.db'
SQLALCHEMY_TRACK_MODIFICATIONS = False

CELERY_BROKER_URL = 'redis://redis:6379/0'